
/*media screen 912px*/
@media screen and (max-width : 912px ) and (min-height: 1368px) {
     .position-humanityVal {
        position: relative;
        bottom: 8rem;
    }
    .navBarMenu {
        z-index: 1;
    }
    #cont-menuOpen {
        border-radius: 1px 1px 40px 40px;
        display: block;
        width: 100%;
        position: relative;
        top: 5rem;
        background-color: var(--green);
        display: flex;
        justify-content: center;
        padding: .2rem 0;
        color: var(--white);
        text-shadow: 1px 2px 2px var(--black);
        font-size: .9rem;
        z-index: 1;
    }
    .cont-pagePrincipal {
        padding-bottom: 5rem;
        position: relative;
        bottom: 8rem;
    }
    .navBarMenu {
        padding: .4rem 0;
    }
    .select-navBar {
        display: none;
    }
    .img-logoEspam {
        width: 40px;
        height: 40px;
    }
    .container-navBar {
        width: 100%;
        max-width: 100%;
        display: flex;
        gap: 1rem;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding: .2rem;
    }
    .btn-openMenu {
        position: fixed;
        left: 8rem;
        padding-top: 1rem;
        left: .3rem;
        z-index: 2;
    }
    .text-name-university {
        font-size: 1.8rem;
        margin-left: -1.8rem; 
    }
    .img-logoEspam-pp {
        width: 150px;
    }
    .cont-logoEspam-pp-position {
        position: absolute;
        top: 19rem;
    }
    .name-university_position {
        position: absolute;
        top: 30.5rem;
    }
    .img-fundator {
        width: 330px;
        height: 330px;
        border-radius: 50%;
        border: 2px solid var(--gold);
    }
    .cont-logoMfl_position {
        position: absolute;
        top: 43.5rem;
    }
    .cont-sms {
        position:relative;
        top: 12rem;
        padding: .2rem;
        color: var(--white);
        background-color: var(--black-with-opacity-50) ;
        border-radius: 4px;
        font-size: 1.9rem;
        letter-spacing: .2rem;
        width:90%;
    }
    .cont-news {
        position: fixed;
        top: 64.5%;
        right: .80rem;
        z-index: 2;
    }
    .cont-news img {
        width: 100px;
    }
    .size-logoValues {
        width: 50px;
    }
    .cont-noteTwo-ofValues {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 3rem 0 3rem 0;
        align-items: center;
        align-content: center;
        gap: .5rem;
    }
    .cont-imgLogoValues {
        width: 50%;
    }
    .cont-imgLogoValues h3 {
        font-size: 1.9rem;
    }
    .offer-academic h2 {
    font-size: 2rem;
    }
    .note-ofValues {
        font-size: 1.5rem;
    }
    .paragraph-offer-academic p {
        font-size: 2rem;
        margin: 0 1.1rem;
    }
}
/*media screen 820px*/
@media screen and (max-width : 820px ) and (min-height: 1180px) {
    .position-humanityVal {
        position: relative;
        bottom: 8rem;
    }
    .navBarMenu {
        z-index: 1;
    }
    #cont-menuOpen {
        border-radius: 1px 1px 40px 40px;
        display: block;
        width: 100%;
        position: relative;
        top: 5rem;
        background-color: var(--green);
        display: flex;
        justify-content: center;
        padding: .2rem 0;
        color: var(--white);
        text-shadow: 1px 2px 2px var(--black);
        font-size: .9rem;
        z-index: 1;
    }
    .select-navBar {
        display: none;
    }
    .img-logoEspam {
        width: 40px;
        height: 40px;
    }
    .container-navBar {
        width: 100%;
        max-width: 100%;
        display: flex;
        gap: 1rem;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding: .2rem;
    }
    .btn-openMenu {
        position: fixed;
        left: 8rem;
        padding-top: 1rem;
        left: .3rem;
        z-index: 2;
    }
    .cont-pagePrincipal {
        padding-bottom: 5rem;
        position: relative;
        bottom: 8rem;
    }
    .text-name-university {
        font-size: 1.5rem;
        margin-left: -1.2rem; 
    }
    .cont-logoEspam-pp-position {
        position: absolute;
        top: 19rem;
    }
    .name-university_position {
        position: absolute;
        top: 27.5rem;
    }
    .img-fundator {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: 2px solid var(--gold);
    }
    .cont-logoMfl_position {
        position: absolute;
        top: 40.5rem;
    }
    .cont-sms {
        position:relative;
        top: 10rem;
        padding: .2rem;
        color: var(--white);
        background-color: var(--black-with-opacity-50) ;
        border-radius: 4px;
        font-size: 1.7rem;
        letter-spacing: .2rem;
        width:90%;
    }
    .cont-news {
        position: fixed;
        top: 65.8%;
        right: .80rem;
        z-index: 2;
    }
    .cont-news img {
        width: 70px;
    }
    .size-logoValues {
        width: 50px;
    }
    .cont-noteTwo-ofValues {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 3rem 0 3rem 0;
        align-items: center;
        align-content: center;
        gap: .5rem;
    }
    .cont-imgLogoValues {
        width: 50%;
    }
    .cont-imgLogoValues h3 {
        font-size: 1.7rem;
    }
    .offer-academic h2 {
    font-size: 1.6rem;
    }
    .note-ofValues {
        font-size: 1.5rem;
    }
    .paragraph-offer-academic p {
        font-size: 1.7rem;
        margin: 0 1.1rem;
    }
}
/*media screen 820px*/
@media screen and (max-width : 820px ) and (min-height: 1024px) {
    .position-humanityVal {
        position: relative;
        bottom: 8rem;
    }
    .select-navBar {
        display: none;
    }
    .navBarMenu {
        z-index: 1;
    }
    #cont-menuOpen {
        border-radius: 1px 1px 40px 40px;
        display: block;
        width: 100%;
        position: relative;
        top: 5rem;
        background-color: var(--green);
        display: flex;
        justify-content: center;
        padding: .2rem 0;
        color: var(--white);
        text-shadow: 1px 2px 2px var(--black);
        font-size: .9rem;
        z-index: 1;
    }
    .img-logoEspam {
        width: 40px;
        height: 40px;
    }
    .container-navBar {
        width: 100%;
        max-width: 100%;
        display: flex;
        gap: 1rem;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding: .2rem;
    }
    .btn-openMenu {
        position: fixed;
        left: 8rem;
        padding-top: 1rem;
        left: .3rem;
        z-index: 2;
    }
    .cont-pagePrincipal {
        padding-bottom: 5rem;
        position: relative;
        bottom: 8rem;
    }
    .text-name-university {
        font-size: 1.4rem;
        margin-left: -1.2rem; 
    }
    .img-logoEspam-pp {
        width:120px;
    }
    .cont-logoEspam-pp-position {
        position: absolute;
        top: 19rem;
    }
    .name-university_position {
        position: absolute;
        top: 27.5rem;
    }
    .img-fundator {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 2px solid var(--gold);
    }
    .cont-logoMfl_position {
        position: absolute;
        top: 34.5rem;
    }
    .cont-sms {
        position:relative;
        top: 9rem;
        padding: .2rem;
        color: var(--white);
        background-color: var(--black-with-opacity-50) ;
        border-radius: 4px;
        font-size: 1.5rem;
        letter-spacing: .2rem;
        width:90%;
    }
    .cont-news {
        position: fixed;
        top: 63.6%;
        right: .80rem;
        z-index: 2;
    }
    .cont-news img {
        width: 75px;
    }
    .size-logoValues {
        width: 50px;
    }
    .cont-noteTwo-ofValues {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 3rem 0 3rem 0;
        align-items: center;
        align-content: center;
        gap: .5rem;
    }
    .cont-imgLogoValues {
        width: 50%;
    }
    .cont-imgLogoValues h3 {
        font-size: 1.7rem;
    }
    .offer-academic h2 {
    font-size: 1.6rem;
    }
    .note-ofValues {
        font-size: 1.5rem;
    }
    .paragraph-offer-academic p {
        font-size: 1.7rem;
        margin: 0 1.1rem;
    }
}
/*media screen 540px*/
@media screen and (max-width : 540px ) and (min-height: 720px) {
    .position-humanityVal {
        position: relative;
        bottom: 8rem;
    }
    .navBarMenu {
        z-index: 1;
    }
     #cont-menuOpen {
        border-radius: 1px 1px 40px 40px;
        display: block;
        width: 100%;
        position: relative;
        top: 5rem;
        background-color: var(--green);
        display: flex;
        justify-content: center;
        padding: .2rem 0;
        color: var(--white);
        text-shadow: 1px 2px 2px var(--black);
        font-size: .9rem;
        z-index: 1;
    }
    .cont-pagePrincipal {
        padding-bottom: 5rem;
        position: relative;
        bottom: 8rem;
    }
    .select-navBar {
        display: none;
    }
    .img-logoEspam {
        width: 40px;
        height: 40px;
    }
    .container-navBar {
        width: 100%;
        max-width: 100%;
        display: flex;
        gap: 1rem;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding: .2rem;
    }
    .btn-openMenu {
        position: fixed;
        left: 8rem;
        padding-top: 1rem;
        left: .3rem;
        z-index: 2;
    }
    .text-name-university {
        font-size: .8rem;
        margin-right: 1rem; 
    }
    .img-logoEspam-pp {
        width:70px;
    }
    .cont-logoEspam-pp-position {
        position: absolute;
        top: 13rem;
    }
    .name-university_position {
        position: absolute;
        top: 20.5rem;
    }
    
    .img-fundator {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 2px solid var(--gold);
    }
    .cont-logoMfl_position {
        position: absolute;
        top: 22.5rem;
    }
    .cont-sms {
        position:relative;
        top: 6.9rem;
        padding: .2rem;
        color: var(--white);
        background-color: var(--black-with-opacity-50) ;
        border-radius: 4px;
        font-size: .9rem;
        letter-spacing: .2rem;
        width:90%;
    }
    .cont-news {
        position: fixed;
        top: 65%;
        right: .80rem;
        z-index: 2;
    }
    .cont-news img {
        width: 60px;
    }
    .size-logoValues {
        width: 30px;
    }
    .cont-noteTwo-ofValues {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 3rem 0 3rem 0;
        align-items: center;
        align-content: center;
        gap: .5rem;
    }
    .cont-imgLogoValues {
        width: 50%;
    }
    .cont-imgLogoValues h3 {
        font-size: 1.2rem;
    }
    .offer-academic h2 {
    font-size: 1.2rem;
    }
    .note-ofValues {
        font-size: 1rem;
    }
    .paragraph-offer-academic p {
        font-size: 1.2rem;
        margin: 0 1.1rem;
    }
}
/*media screen 414px*/
@media screen and (max-width : 414px ) and (min-height: 896px) {
     .position-humanityVal {
        position: relative;
        bottom: 8rem;
    }
    .navBarMenu {
        z-index: 1;
    }
    #cont-menuOpen {
        border-radius: 1px 1px 40px 40px;
        display: block;
        width: 100%;
        position: relative;
        top: 5rem;
        background-color: var(--green);
        display: flex;
        justify-content: center;
        padding: .2rem 0;
        color: var(--white);
        text-shadow: 1px 2px 2px var(--black);
        font-size: .9rem;
        z-index: 1;
    }
    .select-navBar {
        display: none;
    }
    .img-logoEspam {
        width: 40px;
        height: 40px;
    }
    .container-navBar {
        width: 100%;
        max-width: 100%;
        display: flex;
        gap: 1rem;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding: .2rem;
    }
    .btn-openMenu {
        position: fixed;
        left: 8rem;
        padding-top: 1rem;
        left: .3rem;
        z-index: 2;
    }
    .text-name-university {
        font-size: 1rem;
        margin-left: 4rem; 
    }
    .cont-logoEspam-pp-position {
        position: absolute;
        top: 19rem;
    }
    .name-university_position {
        position: absolute;
        top: 25rem;
    }
    .img-fundator {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px solid var(--gold);
    }
    .cont-logoMfl_position {
        position: absolute;
        top: 32rem;
    }
    .cont-sms {
        position:relative;
        top: 9rem;
        padding: .2rem;
        color: var(--white);
        background-color: var(--black-with-opacity-50) ;
        border-radius: 4px;
        font-size: .8rem;
        letter-spacing: .2rem;
        width:90%;
    }
    .cont-pagePrincipal {
        padding-bottom: 5rem;
        position: relative;
        bottom: 8rem;
    }
    .cont-news {
        position: fixed;
        top: 63.9%;
        right: .80rem;
        z-index: 2;
    }
    .cont-news img {
        width: 40px;
    }
    .size-logoValues {
        width: 30px;
    }
    .cont-noteTwo-ofValues {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 3rem 0 3rem 0;
        align-items: center;
        align-content: center;
        gap: .5rem;
    }
    .cont-imgLogoValues {
        width: 50%;
    }
    .cont-imgLogoValues h3 {
        font-size: .9rem;
    }
    .offer-academic h2 {
    font-size: 1.1rem;
    }
    .paragraph-offer-academic p {
        font-size: 1rem;
        margin: 0 1.1rem;
    }
}
/*media screen 393px*/
@media screen and (max-width : 393px ) and (min-height: 851px) {
    .position-humanityVal {
        position: relative;
        bottom: 8rem;
    }
    .navBarMenu {
        z-index: 1;
    }
    #cont-menuOpen {
        border-radius: 1px 1px 40px 40px;
        display: block;
        width: 100%;
        position: relative;
        top: 5rem;
        background-color: var(--green);
        display: flex;
        justify-content: center;
        padding: .2rem 0;
        color: var(--white);
        text-shadow: 1px 2px 2px var(--black);
        font-size: .9rem;
        z-index: 1;
    }
    .select-navBar {
        display: none;
    }
    .img-logoEspam {
        width: 40px;
        height: 40px;
    }
    .container-navBar {
        width: 100%;
        max-width: 100%;
        display: flex;
        gap: 1rem;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding: .2rem;
    }
    .btn-openMenu {
        position: fixed;
        left: 8rem;
        padding-top: 1rem;
        left: .3rem;
        z-index: 2;
    }
    .text-name-university {
        font-size: 1rem;
        margin-left: 4rem; 
    }
    .cont-logoEspam-pp-position {
        position: absolute;
        top: 19rem;
    }
    .name-university_position {
        position: absolute;
        top: 25rem;
    }
    .img-fundator {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px solid var(--gold);
    }
    .cont-logoMfl_position {
        position: absolute;
        top: 30.5rem;
    }
    .cont-sms {
        position:relative;
        top: 8rem;
        padding: .2rem;
        color: var(--white);
        background-color: var(--black-with-opacity-50) ;
        border-radius: 4px;
        font-size: 1rem;
        letter-spacing: .2rem;
        width:90%;
    }
    .cont-pagePrincipal {
        padding-bottom: 5rem;
        position: relative;
        bottom: 8rem;
    }
    .cont-news {
        position: fixed;
        top: 64%;
        right: .80rem;
        z-index: 2;
    }
    .cont-news img {
        width: 40px;
    }
    .size-logoValues {
        width: 30px;
    }
    .cont-noteTwo-ofValues {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 3rem 0 3rem 0;
        align-items: center;
        align-content: center;
        gap: .5rem;
    }
    .cont-imgLogoValues {
        width: 50%;
    }
    .cont-imgLogoValues h3 {
        font-size: .9rem;
    }
    .offer-academic h2 {
    font-size: 1.1rem;
    }
    .paragraph-offer-academic p {
        font-size: 1rem;
        margin: 0 1.1rem;
    }
}
/*media screen 390px*/
@media screen and (max-width : 390px ) and (min-height: 844px) {
    .navBarMenu {
        z-index: 1;
    }
    #cont-menuOpen {
        border-radius: 1px 1px 40px 40px;
        display: block;
        width: 100%;
        position: relative;
        top: 5rem;
        background-color: var(--green);
        display: flex;
        justify-content: center;
        padding: .2rem 0;
        color: var(--white);
        text-shadow: 1px 2px 2px var(--black);
        font-size: .9rem;
        z-index: 1;
    }
    .select-navBar {
        display: none;
    }
    .img-logoEspam {
        width: 40px;
        height: 40px;
    }
    .container-navBar {
        width: 100%;
        max-width: 100%;
        display: flex;
        gap: 1rem;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding: .2rem;
    }
    .btn-openMenu {
        position: fixed;
        left: 8rem;
        padding-top: 1rem;
        left: .3rem;
        z-index: 2;
    }
    .text-name-university {
        font-size: 1rem;
        margin-left: 4rem; 
    }
    .cont-logoEspam-pp-position {
        position: absolute;
        top: 19rem;
    }
    .name-university_position {
        position: absolute;
        top: 25rem;
    }
    .img-fundator {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px solid var(--gold);
    }
    .cont-logoMfl_position {
        position: absolute;
        top: 30.5rem;
    }
    .cont-sms {
        position:relative;
        top: 8rem;
        padding: .2rem;
        color: var(--white);
        background-color: var(--black-with-opacity-50) ;
        border-radius: 4px;
        font-size: 1rem;
        letter-spacing: .2rem;
        width:90%;
    }
    .cont-pagePrincipal {
        padding-bottom: 5rem;
        position: relative;
        bottom: 8rem;
    }
     .position-humanityVal {
        position: relative;
        bottom: 8rem;
    }
    .cont-news {
        position: fixed;
        top: 66%;
        right: .80rem;
        z-index: 2;
    }
    .cont-news img {
        width: 40px;
    }
    .size-logoValues {
        width: 30px;
    }
    .cont-noteTwo-ofValues {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 3rem 0 3rem 0;
        align-items: center;
        align-content: center;
        gap: .5rem;
    }
    .cont-imgLogoValues {
        width: 50%;
    }
    .cont-imgLogoValues h3 {
        font-size: .9rem;
    }
    .offer-academic h2 {
    font-size: 1.1rem;
    }
    .paragraph-offer-academic p {
        font-size: 1rem;
        margin: 0 1.1rem;
    }
}
/*media screen 375px*/
@media screen and (max-width : 375px ) and (min-height: 667px) {
    .navBarMenu {
        z-index: 1;
    }
    #cont-menuOpen {
        border-radius: 1px 1px 40px 40px;
        display: block;
        width: 100%;
        position: relative;
        top: 5rem;
        background-color: var(--green);
        display: flex;
        justify-content: center;
        padding: .2rem 0;
        color: var(--white);
        text-shadow: 1px 2px 2px var(--black);
        font-size: .9rem;
        z-index: 1;
    }
    .select-navBar {
        display: none;
    }
    .img-logoEspam {
        width: 40px;
        height: 40px;
    }
    .container-navBar {
        width: 100%;
        max-width: 100%;
        display: flex;
        gap: 1rem;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding: .2rem;
    }
    .btn-openMenu {
        position: fixed;
        left: 8rem;
        padding-top: 1rem;
        left: .3rem;
        z-index: 2;
    }
    .text-name-university {
        font-size: 1rem;
        margin-left: 1.9rem; 
    }
    .cont-logoEspam-pp-position {
        position: absolute;
        top: 13rem;
    }
    .name-university_position {
        position: absolute;
        top: 17.80rem;
    }
    .img-fundator {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px solid var(--gold);
    }
    .cont-logoMfl_position {
        position: absolute;
        top: 21rem;
    }
    .cont-sms {
        position:relative;
        top: 5.3rem;
        padding: .2rem;
        color: var(--white);
        background-color: var(--black-with-opacity-50) ;
        border-radius: 4px;
        font-size: .8rem;
        letter-spacing: .2rem;
        width:90%;
    }
    .cont-pagePrincipal {
        padding-bottom: 5rem;
        position: relative;
        bottom: 8rem;
    }
    .position-humanityVal {
        position: relative;
        bottom: 8rem;
    }
    .cont-news {
        position: fixed;
        top: 65.1%;
        right: .80rem;
        z-index: 2;
    }
    .cont-news img {
        width: 40px;
    }
    .size-logoValues {
        width: 30px;
    }
    .cont-noteTwo-ofValues {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 3rem 0 3rem 0;
        align-items: center;
        align-content: center;
        gap: .5rem;
    }
    .cont-imgLogoValues {
        width: 50%;
    }
    .cont-imgLogoValues h3 {
        font-size: .9rem;
    }
    
    .offer-academic h2 {
    font-size: 1.1rem;
    }
    .paragraph-offer-academic p {
        font-size: 1rem;
        margin: 0 1.1rem;
    }
}

/*media screen 320px*/
@media screen and (max-width : 320px ) and (min-height: 877px) {
    .navBarMenu {
        z-index: 1;
    }
    #cont-menuOpen {
        border-radius: 1px 1px 40px 40px;
        display: block;
        width: 100%;
        position: relative;
        top: 5rem;
        background-color: var(--green);
        display: flex;
        justify-content: center;
        padding: .2rem 0;
        color: var(--white);
        text-shadow: 1px 2px 2px var(--black);
        font-size: .9rem;
        z-index: 1;
    }
    .select-navBar {
        display: none;
    }
    .cont-pagePrincipal {
        padding-bottom: 5rem;
        position: relative;
        bottom: 8rem;
    }
    .position-humanityVal {
        position: relative;
        bottom: 8rem;
    }
    .img-logoEspam {
        width: 40px;
        height: 40px;
    }
    .container-navBar {
        width: 100%;
        max-width: 100%;
        display: flex;
        gap: 1rem;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding: .2rem;
    }
    .btn-openMenu {
        position: fixed;
        left: 8rem;
        padding-top: 1rem;
        left: .3rem;
        z-index: 2;
    }
    .cont-pagePrincipal {
        padding-bottom: 5rem;
        position: relative;
        bottom: 8rem;
    }
    .img-logoEspam-pp {
        width: 85px;
    }
    .cont-logoEspam-pp-position {
        position: absolute;
        top: 15rem;
    }
    .text-name-university {
        display: flex;
        justify-content: center;
        color: var(--white);
        text-shadow: 3px 1px 1px  var(--green);
        font-size: .9rem;
        margin-left: 1.2rem; 
    }
    .img-fundator {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px solid var(--gold);
    }
    .name-university_position {
        position: absolute;
        top: 25.80rem;
    }
    .cont-logoMfl_position {
        position: absolute;
        top: 31.5rem;
    }
    .cont-sms {
        position:relative;
        top: 8rem;
        padding: .2rem;
        color: var(--white);
        background-color: var(--black-with-opacity-50) ;
        border-radius: 4px;
        font-size: .94rem;
        letter-spacing: .2rem;
        margin-top:.9rem;
    }
    .cont-news {
        position: fixed;
        top: 70%;
        right: .80rem;
    }
    .cont-news img {
        width: 40px;
    }
    .size-logoValues {
        width: 30px;
    }
    .cont-noteTwo-ofValues {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 3rem 0 3rem 0;
        align-items: center;
        align-content: center;
        gap: .5rem;
    }
    .cont-imgLogoValues {
        width: 50%;
    }
    .cont-imgLogoValues h3 {
        font-size: .9rem;
    }
    .offer-academic h2 {
    font-size: 1.1rem;
    }
    .paragraph-offer-academic p {
        font-size: 1rem;
        margin: 0 1.1rem;
    }
}
