.cont-pagePrincipal {
    border: 1px solid var(--white);
    width: 100%;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-color: var(--green-secundary);
}
.img-logoCampus {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
}
.cont-img-logoCampus {
    background-color: var(--black) ;
    margin-top: 4.95rem;
    width: 100%;
    max-width: 100%;
    height: 60%;
    border-bottom: 5px solid var(--green);
}
.cont-logoEspam-pp-position {
    position: absolute;
    top: 6rem;
}
.cont-logoEspam-pp , .name-university , .cont-logoMfl , .cont-sms-mfl{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.img-logoEspam-pp {
    width: 75px;
}
.text-name-university {
    color: var(--white);
    text-indent: 2rem;
    letter-spacing: .12rem;
    text-shadow: 3px 1px 1px  var(--green);
}
.name-university_position {
    position: absolute;
    top: 11.80rem;
}
.cont-logoMfl_position {
    position: absolute;
    top: 22.5rem;
}
.cont-background {
    background-color: var(--green-light);
    border-radius: 50%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    border: 1px solid var(--green);
}
.img-fundator {
    width: 200px;
    border-radius: 50%;
    height: 200px;
    border: 2px solid var(--gold);
}
.cont-sms {
    position:relative;
    top: 7.5rem;
    border: 1px solid var(--black);
    padding: .5rem;
    color: var(--white);
    background-color: var(--black-with-opacity-50) ;
    border-radius: 4px;
    font-size: 1.2rem;
    letter-spacing: .2rem;
}
.cont-sms a {
    text-decoration: underline;
    cursor: pointer;
    color: var(--green-light);
    text-shadow: 1px 2px 1px var(--black);
}
.cont-news {
    z-index:1;
    border:1px solid var(--black-with-opacity-50);
    display:inline-block;
    padding: .7rem;
    margin-left: 1.5rem;
    border-radius: 50%;
    background-color: var(--black-with-opacity-3);
    box-shadow: 1px 1px 1px 1px var(--black-with-opacity-50);
    cursor: pointer;
    position: fixed;
}
.cont-news:hover {
    background-color: var(--green-light);
}
.cont-itemMenu {
        position: absolute;
        display: none;
}
.cont-pagePrincipal {
        padding-bottom: 5rem;
        position: relative;
        bottom: 11.3rem;
    }

/*animation  text name university*/
.focus-in-expand-fwd {
	-webkit-animation: focus-in-expand-fwd 3.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	        animation: focus-in-expand-fwd 3.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}
@-webkit-keyframes focus-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-800px);
              transform: translateZ(-800px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-800px);
              transform: translateZ(-800px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  
  
.bounce-in-top {
	-webkit-animation: bounce-in-top 3.5s both;
	        animation: bounce-in-top 3.5s both;
}
@-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
@keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

.scale-in-center {
	-webkit-animation: scale-in-center 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  
.text-focus-in {
	-webkit-animation: text-focus-in 2.4s ease-in-out 1s infinite both;
	        animation: text-focus-in 2.4s ease-in-out 1s infinite both;
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.roll-in-bottom {
	-webkit-animation: roll-in-bottom 3s ease-out both;
	        animation: roll-in-bottom 3s ease-out both;
}

@-webkit-keyframes roll-in-bottom {
    0% {
      -webkit-transform: translateY(800px) rotate(540deg);
              transform: translateY(800px) rotate(540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotate(0deg);
              transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-bottom {
    0% {
      -webkit-transform: translateY(800px) rotate(540deg);
              transform: translateY(800px) rotate(540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotate(0deg);
              transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
  }
  
.vibrate-2 {
	-webkit-animation: vibrate-2 2s linear infinite both;
	        animation: vibrate-2 2s linear infinite both;
}
@-webkit-keyframes vibrate-2 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    40% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    60% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    80% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-2 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    40% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    60% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    80% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  